$primary-color: rgba(85, 109, 137, 0.87);
$secondary-color: lighten($primary-color, 19%);

body {
    background-color: $primary-color;

}

#container {
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: roboto, sans-serif;
    font-size: 1.2em;
    padding-top: 100px;

    h1 {
        color: white;
        font-weight: 400;
    }
}


.calculatrice {
    border-radius: 8px;
    padding: 10px;
    background-color: $secondary-color;

    &__body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2px;
        align-content: center;
        align-items: center;

        input {
            width: 100%;
        }
    }
}


#display {
    height: 20px;
}


input:hover {
    background-color: $primary-color;
    color: white;
    border-radius: 5px;
}
